@import "_variables";

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  .title {
    text-align: center;
    margin-top: 40px;
    font-family: $circular-black;
    width: 70%;
    h1 {
      font-weight: 900;
    }
  }
  .more {
    text-align: center;
    margin-top: 100px;
    p {
      margin: 0;
      font-size: 22px;
      display: flex;
      flex-direction: column;
      span {
        .image {
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media only screen and (max-width: 600px) {
  .main__container {
    text-align: left;
    .title {
      margin-top: 10px;
      text-align: left;
      h5 {
        text-align: center !important;
      }
      width: 100%;
    }
    .more {
      text-align: center;
      margin-top: 100px;
    }
  }
}
