@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "_home";
@import "_header";
@import "_variables";
@import "_about";
@import "_projects";
@import "_project";
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: $white;
  color: $white;
}

p {
  margin: 0;
}
